/venv/
/venv/*
/venv/**
/media/
/media/*
/media/**
/testing/
/testing/*
/testing/**

/.venv/
/.venv/*
/.venv/**

*

!skipper
!Pipfile
!Pipfile.lock
!manage.py
!mypy.ini
!mypy.ini
!test.sh
!runProduction.sh
!healthcheck.sh
!typecheck.sh
!OPENSOURCE_LICENSES.md
!README.md
!liccheck.ini

!app-content

*.pid
