[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "==70.0.0"
djangorestframework = "==3.15.2"
djangorestframework-simplejwt = { version = "==5.3.1" }
# at least required for simplejwt crypto
cryptography = "==43.0.1"
django-extensions = "==3.2.3"
psycopg = {version = "==3.2.3", extras = ["binary", "pool"]}
pytz = "==2024.1"
django-enumchoicefield = "==1.1.0"
requests = "==2.32.2"
django-filter = "==23.5"
gunicorn = {version = "==22.0.0", extras = ["gevent"]}
django-storages = "==1.12.3"
boto3 = "==1.34.49"
celery = "==5.3.6"
django-celery-results = "==2.5.1"
django-guardian = "==2.4.0"
django-multitenant = "==3.0.0"
django-cors-headers = "==4.3.1"
pip-licenses = "==4.3.4"
django-prometheus = "==2.3.1"
tblib = "==3.0.0"
jsonschema = {version = "==4.21.0"}
psycogreen = "==1.0.2"
gevent = "==24.2.1"
greenlet = "==3.0.3"
"zope.event" = "==5.0"
"zope.interface" = "==6.2"
mypy = "==1.0.1"
djangorestframework-stubs = "==1.8.0"
django-stubs = "==1.14.0"
liccheck = "==0.9.2"
django-csp = "==3.7"
django-permissions-policy = "==4.19.0"
django-slowtests = "==1.1.1"
flower = "==2.0.1"
hiredis = "==2.3.2"
single-beat = "==0.6.3"
tornado = "==6.4.1"
redis = "==5.0.1"
async-timeout = "==4.0.3"
django-pg-queue = "==0.8.2"
django-health-check = "==3.18.3"
opentelemetry-api = "==1.27.0"
opentelemetry-sdk = "==1.27.0"
opentelemetry-exporter-jaeger = "==1.21.0"
opentelemetry-instrumentation-django = "==0.48b0"
opentelemetry-instrumentation-celery = "==0.48b0"
opentelemetry-instrumentation-requests = "==0.48b0"
opentelemetry-instrumentation-botocore = "==0.48b0"
opentelemetry-instrumentation-psycopg = "==0.48b0"
opentelemetry-instrumentation-redis = "==0.48b0"
sqlparse = "==0.5.0"
Django = "==5.1.2"
Pillow = "==10.3.0"
FormEncode = "==2.0.1"
SQLAlchemy = "==1.4.51"
Deprecated = "==1.2.14"
protobuf = "==3.20.3"
wheel = "0.38.4"
certifi = "==2024.07.04"
pip = "==24.0"

[dev-packages]
pylint-django = "==2.0.13"
pylint = "*"
coverage = "*"

[scripts]
runProduction = "bash runProduction.sh"

[requires]
python_version = "3.11"
